node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.idea/
_active.uusver
*.lock
package-lock.json

# local env settings
local.env.js

# macOS
.DS_Store
