@page
@using Microsoft.Extensions.Localization
@using OpenFoodFactService.Localization
@using OpenFoodFactService.Web.Pages.OpenFoodFactService
@model OpenFoodFactService.Web.Pages.OpenFoodFactService.IndexModel
@inject IStringLocalizer<OpenFoodFactServiceResource> L

@{
}
<h1>OpenFoodFactService</h1>
<p>@L["SamplePageMessage"]</p>
